# vim: tabstop=2 expandtab shiftwidth=2 softtabstop=2 smartindent nu
---
name: test
on:
  pull_request:
  push:
  schedule:
    - cron: "20 6 * * 5"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: install pyyaml
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml
      - name: run test
        run: |
          ./test.sh
